html {
    font-family: "HK Grotesk", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#main-content > .box > .text-bold {
    --tw-gradient-from: #e49e06;
    --tw-gradient-to: #e49e06;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgba(202,138,4,0));
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    background-image: linear-gradient(to right,var(--tw-gradient-stops));
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 15%;
    font-weight: 900;
    font-family: "Sequel Sans VF Head", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgba(255,255,255,1);
    font-size: 3.75rem;
    margin: 0px;
}
#main-content > .box {
    padding: 4rem;
    border-radius: 0;
}
#main-content > .box > .text-muted {
    color: rgba(160,164,175,1);
    font-size: 1.5rem;
    margin-top: 0.75rem;
}